body{
	font-size:10px;
	background-color:#00052D!important;
	
}
/*#wrap{
	display:none;
} 
#menu{
	display:none;
} */
#sorry{
	color:#fff;
}
.paliwa1{

   font-size: 1.7rem;
    margin: 5% 0 2%;
    background: rgba(56, 173, 61, 0.6);
    color: #fff;
    text-align: center;
    padding-bottom: 25px;
}

.paliwa1 ul{
	
	list-style:none;
}

.paliwa1 ul li{
	border: 1px solid #38ad3d;
	cursor:pointer;
	text-align:center;
	padding:20px;
	display:inline-block;
	background: rgb(0, 5, 45);
	    
	
}
.paliwa1 ul li:hover{
	background: rgba(56, 173, 61, 0.6);
}
.paliwa1 a{
	color: #fff;
}
.paliwa1 a:hover{
	color: rgb(0, 5, 45);
	text-decoration:none;
}

.row{
	margin: 0!important;
}
#pelet{
	min-height:800px; 
	height:100%;
	background: url('/wp-content/themes/ecoram/img/pelet1.jpg') center;
	background-attachment: fixed;
	background-size:cover;
	
}
.pelet1{
	margin-top: 5%!important;
	padding:0px 60px 40px!important;
    background: rgba(0, 5, 45, 0.4);
    color: #fff;
    font-size: 2.0rem;
}

.pelet1 ul{
	margin: 25px auto;
	list-style: none;
    font-size: 1.9rem;
}

.motto1{
	background-color: rgba(22, 188, 54, 0.5);
	font-size: 2rem;
	color: #fff;
	height:350px;
	
	padding: 50px 0px;
}
.outsourcing1{
	background-color: rgba(22, 188, 54, 0.5);
font-size: 2rem;
	height:350px;
color: #fff;
padding:50px 0px;
}
/*21-10-2016 */
.kolo{
	margin-right: -15px;
    float: right;
    height: 110px;
    width: 110px;
    border-bottom-left-radius: 100%;
    /*border: 2px solid #38ad3d; */
    background: #38ad3d;
	opacity: 0.8;
	transition: all 0.3;
}
.kolo:hover{
	opacity: 1;
	transition: all 0.3;
}
.kolo p{
	margin-right: 10px;
    margin-top: 30px;
	color: #FFF;
}
#boczne{
    display: none;
	position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    background: #38ad3d;
    height: 100%;
	
}
#boczne ul {
	margin-top: 60%;
}
#boczne li{
	padding: 10px;
    list-style: none;
}
#boczne a{
	text-decoration:none;
	color: #e6e6e6;
	transition: all 0.3s;
	font-size: 20px;
font-family: April;
}
#boczne a:hover{
	color: #FFF;
	transition: all 0.3s;
}
#wysun{
	position: fixed;
	right:0;
	top:0;
	margin-top: 0;
	text-align: right;
	font-size: 2rem;
    color: #e6e6e6;
	transition: all 0.3s;
	cursor:pointer;
}
#wysun:hover{
	color: #38AD3D;
	transition: all 0.3s;
}
.logo_baner{
	height:auto;
	margin-left: auto;
    margin-right: auto;
	border-bottom: 5px solid #38AD3D;
	z-index:3;
	right:0;
	margin-top: 0;

}
.logo_baner2 img{
	margin:auto;
	max-height: 100px;
    width: auto;
	
}
/* koniec*/
.box-1{
background: url('/wp-content/themes/ecoram/img/hand.jpg') no-repeat center center;	
}
.box-2{
background: url('/wp-content/themes/ecoram/img/pelet.jpg') no-repeat center center;	
}
.box-3{
background: url('/wp-content/themes/ecoram/img/truck1.jpg') no-repeat center center;	
}
.box-4{
background: url('/wp-content/themes/ecoram/img/contact.jpg') no-repeat center center;	
}
.boxy {

padding: 0px !important;
font-family: "Ghotic", sans-serif;
position:relative;
z-index:0;
top:-3px;
}

.box {

padding: 0px !important;

}

.boxy a h2 {

    background-color: rgba(19, 39, 150, 0.57);
    width: 80%;
    padding: 20px 0px;
    font-size: 16px !important;
    color: #fff;
    text-decoration: none !important;
    font-weight: 400;
    margin: 18px auto;

}

.tlo {
	
	

transition: all 0.3s;

}
.pomieszczenia a:hover .tlo,
.boxy a:hover .tlo {

background-color: rgba(19, 39, 150, 0.57);

}

.boxy a:hover .tlo .box-text h2{
	color:#fff;
	background-color:transparent;


}

.boxy a .tlo .box-text {
	position: absolute;
	top: 20%;
	width:100%;
	text-align:center;
}
.boxy a:hover .tlo .box-wiecej {

display: inline;
color: rgb(255, 255, 255);
text-decoration: none;


border: 2px solid #fff;
padding: 5px 50px;

}

.boxy a:hover .tlo .tlo-napis {

display: block;
color: #fff;
left: 23%;
font-size: 22px;
top: 47%;
font-weight: bold;

}

.tlo {

padding: 0px !important;
height: 21vw;

}

.box-wiecej,
.tlo-napis {

display: none;
transition: all 0.3s;

}

.box {

/*height: 356px;*/
background-size: 100%;

}




.logo_baner2 p{
	margin-top:20px;
	font-size:2rem;
	color:#ddd;
}



#baner{
	height:100vh;
	background: url('/wp-content/themes/ecoram/img/background-img.jpg') center;
	background-attachment: fixed;
	background-size:cover;
	
}

.formularz_tresc {
	background-color: rgba(22, 188, 54, 0.6);
	font-size: 2rem;
	color: #fff;
	margin: 10px;
	padding: 40px 10px;
	
}
#formularz{
	min-height:800px;
	height:100%;
	background: url('/wp-content/themes/ecoram/img/contact.jpg') center;
	background-attachment: fixed;
	background-size:cover;
}

#outsourcing{
	height:800px;
}
#paliwa{
	height:800px;
}

.naglowek{
	text-align:center;
	color:#fff;
	font-size:3.3rem;
	font-weight:500;
	padding:22px 0 0 10px;
	
}
.logo{
	position: relative;
    top: 20%;
        margin-left: auto;
    margin-right: auto;
}
.haslo{
	position: relative;
    top: 30%;
  text-align: center;
	font-size:2rem;
	color:#fff;
	font-weight:500;
	
}


@media (max-width: 425px) { 

.tlo{
	height:200px;
}

.logo1{
	
	margin-left: -25px;
}
.logo_baner2 img{
	margin-left: -25px;
}

.pelet1{
	padding:0!important;
   
}
.pelet1 ul{
	list-style: none;
    
}


 }