  .footer{
	  border-top: 5px solid #38AD3D;
	 background-color: #010017; 
	 height: 50px;
	
 }

 .logo2{
	max-height:20px;


}



 .logo1{
	margin:15px  auto;
	
    
}


   .text-footer{
	 color:#fff;
	 margin-left: auto ;
	margin-right: auto ;
    width: 10em;
	text-align: left;
 }
 .footer_m{
	 color:#fff;
	 text-align: right;
 }
 
 .arrow{
	 position: relative;
    top: 40%;
	    height: 64px!important;
        margin-left: auto;
    margin-right: auto;
 }
input{
		width:100%;
		border:none;
	    border-bottom:1px solid #cccaca;
		padding:10px;
		margin-bottom:10px;
		margin-top:10px;
		resize: none;
}
textarea{
	width:100%;
	border:1px solid #cccaca;
	padding:10px;
	resize: none;
}
input[type=submit]{
	background-color: #38AD3D;
    color: #e6e6e6;
    text-transform: uppercase;
    font-weight: 600;
}
input[type=submit]:hover{
	background-color: #279C2C;
}
}
 .pole-form{
	 
 }
 